@charset "UTF-8";
/* CSS Document */

body, h1, h2, nav, header, ul, li {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
}

#home {
	clear: both;
	background-color: #f8e514;
}

nav ul {
	float: right;
	list-style: none;
}

#intro {
	float: left;
}

.column-features, .column-gallery {
	background-color: red;
	width: 33%;
	float: left;
	
	padding-right: 30px;
}

#gallery {
	clear: both;
	background-color: #fafafa;
	overflow: auto;
}

.column-gallery, .column-featured-in {
	width: 20%;
	float: left;
	
	padding-right: 45px;
}

.column-gallery img, #show-reel img, #features img, #about img, {
	width: 100%;
}


#about {
	background-color: #fafafa;
	overflow: auto;
}

.column-about {
	background-color: red;
	width: 25%;
	float: left;
	
	padding-right: 30px;
}

#blockquote {
	clear: both;
}


#featured-in {
	clear: both;
	background-color: #f8e514;
	overflow: auto;
}


#contact-info {
	float: left;
}

.column-footer {
	background-color: red;
	width: 25%;
	float: left;
	
	padding-right: 30px;
}

